.wrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.form {
  display: flex;
  gap: 8px;
}

.input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 300px;
}

.button {
  padding: 10px 16px;
  font-size: 16px;
  background-color: #306cce;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #72a1ed;
}