.wrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #306cce;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.button:hover {
  background-color: #72a1ed;
  transform: scale(1.05);
}